<footer class="footer <%= (typeof page !== 'undefined' && page === 'checkout') ? 'mt-auto' : '' %>">
    <div class="container">
        <div class="footer-grid">
            <div class="footer-column">
                <h4>USEFUL LINKS</h4>
                <div class="footer-links-wrapper">
                    <ul class="footer-links">
                        <li><a href="#">Velit mauris</a></li>
                        <li><a href="#">Entum feuis</a></li>
                        <li><a href="#">Aliquam massa</a></li>
                        <li><a href="#">Egestas quam</a></li>
                    </ul>
                    <ul class="footer-links">
                        <li><a href="#">Aenean ligula</a></li>
                        <li><a href="#">Dapibus at dolor</a></li>
                        <li><a href="#">Molestie id</a></li>
                        <li><a href="#">Vestibulum</a></li>
                    </ul>
                </div>
            </div>
            <div class="footer-column">
                <h4>ABOUT US</h4>
                <div class="about-us-content">
                    <img src="/images/b.png" alt="Small company logo" class="about-us-logo">
                    <p>Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.
                        Mauris in erat justo. Nullam ac urna eu felis dapibus cond vulputate cursus a sit amet mauris.
                    </p>
                </div>
            </div>
            <div class="footer-column">
                <h4>OUR MISSION</h4>
                <p>Aenean ligula nibh in, molestie id viverra a, dapibus at dolor. Duis sed odio sit amet nibh vulputate
                    cursus a sit.</p>
                <p>Curabitur et ligula. Ut molestie a, ultricies porta urna. Vestibulum commodo volutpat a, convallis
                    ac, laoreet enim. Phasellus fermentum in, dolor.</p>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <p>&copy; 2025 Betheme by <a href="https://muffingroup.com/" target="_blank">Muffin group</a> | All Rights
                Reserved | Powered by <a href="https://wordpress.org/" target="_blank">WordPress</a>.</p>
        </div>
    </div>
</footer>